.header-row {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 360px;
}


.paragraph-box {
    display: flex;
}

.head-shot1 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container while maintaining aspect ratio */
    /* object-position: top center; Adjust the position of the image within the container */
  }

.head-shot2{
    width:390px;
    border-radius: 100%;
}

#id-1{
    width: 400px;
}

.img-container {
    width: 500px; /* Set the desired width for the landscape image */
    height: 292.5px; /* Set the desired height for the landscape image */
    overflow: hidden; /* Hide the overflowing part of the image */
    border-radius: 100%;
  }