.link-box{
    margin-bottom: 20px;
}

.header-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: white;
    padding-top: 10px;
    height: 40px;
}

.header-area>button{
    border: none;
    background-color: white;
    height:25px;
    font-weight: 100;
}