.log{
    margin-right: 20px;
    width: 300px;
}
.name-amount,.date-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-date, .log-total{
    color: rgb(97, 96, 96);
}
.log-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.edit{
    border: 2px solid gray;
    border-radius: 9px;
    
}

.edit-icon{
    width: 25px;
    padding-bottom: 20px;
}