.log{
    margin-bottom: 20px;
    width: 300px;
}
.name-amount,.date-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-date, .log-total{
    color: rgb(97, 96, 96);
}