.main-page-content{
    display: flex;
    justify-content: center;
    
}
input, select {
    padding: 0px 10px;
    height: 28px;
    border-radius: 10px;
}
.submit-button{
    padding: 0px 10px;
    height: 28px;
    width: 100px;
    border-radius: 10px;
}

.submit-area{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.add-item{
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: rgb(39, 125, 255);
    color: white;
    margin-bottom: 10px;
    width: 135px;
}

#log-area{
    /* position: absolute; */
    margin-left:480px;

}
.log-box:hover{
    background-color: rgb(240, 240, 240);
}

.submit-area>input{
    margin-bottom: 5px;
}
.left-side{
    margin-right: 20px;
    position:fixed;
    margin-left: -400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submission{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 870px) {
    .main-page-content{
        flex-direction: column;
    align-items: center;
    }
    .left-side{
        position: relative;
        margin-left: 0;
    }
    #log-area{
        margin-left: 0;
    }
}