.goals-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goal-input-box{
    flex-direction: column;
    width: 200px;
}
.goal-input-box>button{
    padding: 0px 10px;
    height: 28px;
    border-radius: 10px;
}
.name-amount-goal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deadline-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goal-log{
    width: 300px;
    margin-top: 20px;
}